body,
p,
header,
section {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffdecf;
}

.lato {
  font-family: "Lato", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}

.header {
  /* background-color: #ffdecf; */
  display: flex;
  justify-content: center;
}

.grid {
  /* background-color: #ffdecf; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: 200px;
}

.plants {
  height: 150px;
  width: 150px;
  /* border: #3f4441 solid 1px; */
  margin: 10px;
  position: relative;
  border-radius: 5px;
}

.detail {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: RGBA(174, 205, 185, 0.75);
  text-align: center;
}

.plant-price {
  font-weight: 350;
}
/* 
.small,
.large {
  display: flex;
  justify-content: space-between;
} */

.flex {
  display: flex;
  justify-content: space-between;
}

.calculator {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subtotal-div,
.tax-div,
.totaldue-div {
  margin: 5px;
}

.button {
  margin: 5px;
  padding: 10px;
}

/* .review-cart {
  display: flex;
  width: 100%;
  flex: 1;
} */

.paynow-reset {
  display: flex;
}

.paynow {
  flex: 1;
  /* margin-right: 5px; */
}

.reset {
  flex: 1;
  /* margin-left: 5px; */
}

.img-container {
  margin-top: 20px;
}
/* 
.line-item {
}

.item {
} */

.receipt-form,
.payment-page,
.receipt-send-page,
.receipt-page {
  position: fixed;
  width: 80%;
  height: 75%;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.receipt-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hide {
  display: none;
}

.item-list {
  /* background-color: white; */
  top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.object {
  display: flex;
  justify-content: space-around;
}

.item {
  text-align: center;
}
